# requirements.txt

# Librairies Streamlit et utilitaires
streamlit
pandas
requests
time
datetime

# Dépendances Google Cloud
google-cloud-storage
google-cloud-bigquery
pandas-gbq # Nécessaire pour prepare_geojson.py
gcsfs      # Souvent nécessaire pour la lecture/écriture gs://

# Librairies de visualisation
folium
streamlit-folium

# ⭐️ CORRECTION : Dépendances Geospatiales manquantes ⭐️
# Ajouter geopandas et ses dépendances clés
geopandas
shapely
fiona
pyproj